
img {
    max-width: 100%;
}


#mapid {
    height: 180px;

}

.preloader {
    position: absolute;
    background: #fff; 
    z-index: 2000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.preloader img {
    width: 400px;
}



/* HEADER */
.header {
    min-height: 100vh;
    width: 100%;
    /* -webkit-clip-path: polygon(100% 30%, 100% 29%, 100% 34%, 100% 100%, 100% 100%, 100% 100%, 46% 100%, 0 71%, 0 0, 54% 0);
    clip-path: polygon(100% 30%, 100% 29%, 100% 34%, 100% 100%, 100% 100%, 100% 100%, 46% 100%, 0 71%, 0 0, 54% 0); */
    background:
        linear-gradient(20deg, #fff 20%, transparent 20%, transparent 80%, #fff 80%),
        linear-gradient(135deg, rgba(30, 19, 12, .7) 0%, rgba(154, 132, 120, .5) 100%),
        url(img/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__heading {
    font-size: 200px;
    color: #f7f7f7;
    font-family: 'Amatic SC', cursive;
    opacity: 0.3;
    letter-spacing: 5px;
    transform: rotate(22deg);
    text-transform: uppercase;
    mix-blend-mode: color-dodge;

}

.header__heading_mob {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 57%;
    height: 69%;
    font-size: 200px;
    color: #f7f7f7;
    font-family: 'Amatic SC', cursive;
    opacity: 0.3;
    letter-spacing: 5px;
    transform: rotate(22deg);
    text-transform: uppercase;
    mix-blend-mode: color-dodge;

}

.header__heading_mob h1:first-child {
    align-self: flex-start;
}

.header__heading_mob h1:last-child {
    align-self: flex-end;
}



@media screen and (min-width: 30em) and (orientation: landscape) {}

@media screen and (max-width: 1050px) {
    .header__heading {
        font-size: 150px;
        letter-spacing: 5px;

    }
}

@media screen and (max-width: 800px) {
    .header__heading {
        font-size: 110px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 600px) {
    .header__heading {
        display: none;
    }

    .header__heading_mob {
        display: flex;
        width: 100%;
        height: 60%;
        flex-direction: column;
        justify-content: space-between;
        font-size: 110px;
        letter-spacing: -4px;

    }

    .header__heading_mob h1:first-child {
        align-self: flex-start;
    }

    .header__heading_mob h1:last-child {
        align-self: flex-end;
    }

    .main__panda  {
        display: none;
    }

}


.main {
    min-height: 100vh;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

}



.main__wrap {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    height: 700px;
    grid-template-columns: 1fr 2fr;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    .main__panda {
        display: none;
    }
    .main__wrap{
        grid-template-columns: 1fr ;
    }
    }

.main__message {
    display: none;
    grid-template-columns: 40px 1fr;
    grid-gap: 5px;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    border: 10px solid #f8aaa2;
    border-top: 50px solid #f8aaa2;
    border-bottom: 50px solid #f8aaa2;
    box-shadow: 0 0 0 1px #292929, 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgb(41, 41, 41);
    background: -moz-linear-gradient(145deg, rgba(41, 41, 41, 1) 0%, rgba(88, 82, 82, 1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(41, 41, 41, 1) 0%, rgba(88, 82, 82, 1) 100%);
    background: linear-gradient(145deg, rgba(41, 41, 41, 1) 0%, rgba(88, 82, 82, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292929", endColorstr="#585252", GradientType=1);
    position: relative;
    padding: 10px;

}

.main__message:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #292929;
    top: -30px;
    left: 67px;

}

.main__message:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    border-radius: 50%;
    background-color: #292929;
    top: -25px;
    left: 110px;
}

.main__message_phone-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -41px;
    left: 121px;
    border-radius: 50%;
    border: 1px solid #292929;
}

.message__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #949494;
}

.message__icon img {
    width: 30px;
}

.message__text {
    
    border: 2px solid #949494;
    padding: 10px;
    color: #FCD0CC;
    font-size: 18px;
    font-family: 'Arial';
    line-height: 120%;
    height: 150px;
    border-radius: 0 20px 20px;
    margin-top: 35px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.22);
}







.gallery {
    min-height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas:

        "one one             two two two two        three three"
        "one one             two two two two        three three"
        "one one             four   nine nine nine  three three"
        "one one             four   nine nine nine  three three"
        "five five five five    seven seven         eight eight"
        "five five five five    seven seven         eight eight"
        "five five five five    seven seven         eight eight";

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);

}

.gallery::after {
    background: linear-gradient(135deg, rgba(30, 19, 12, .7) 0%, rgba(154, 132, 120, 0.2) 100%);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gallery__bg-1 {
    background-color: rgb(36, 126, 36);
    background: url(img/bg_3.jpg);
    background-size: cover;
    grid-area: one;
}

.gallery__bg-2 {
    background-color: rgb(59, 189, 194);
    background: url(img/bg_1.jpg);
    background-size: cover;
    background-position: center;
    grid-area: two;
}

.gallery__bg-3 {
    background-color: rgb(29, 28, 49);
    background: url(img/bg_6.jpg);
    background-size: cover;
    background-position: center;
    grid-area: three;
}

.gallery__bg-4 {
    background-color: rgb(105, 36, 126);
    background: url(img/bg_8.jpg);
    background-size: cover;
    grid-area: four;
}

.gallery__bg-5 {
    background-color: rgb(184, 148, 178);
    background: url(img/bg_5.jpg);
    background-size: cover;
    background-position: center;
    grid-area: five;
}

.gallery__bg-6 {
    background-color: rgb(218, 27, 27);
    background: url(img/bg_7.jpg);
    background-size: cover;
    background-position: center;
    grid-area: six;
}

.gallery__bg-7 {
    background-color: rgb(156, 12, 60);
    background: url(img/bg_9.jpg);
    background-size: cover;
    background-position: center;
    grid-area: seven;
}

.gallery__bg-8 {
    background-color: rgb(184, 221, 81);
    background: url(img/bg_10.jpg);
    background-size: cover;
    background-position: center;
    grid-area: eight;
}

.gallery__bg-9 {
    background-color: rgb(190, 162, 2);
    background: url(img/bg_4.jpg);
    background-size: cover;
    background-position: center;
    grid-area: nine;
}





/* FOOTER */

.footer {
    background: linear-gradient(135deg, rgba(30, 19, 12, .7) 0%, rgba(154, 132, 120, .5) 100%),
        url(img/bg_2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;


}

/* linear-gradient(135deg, rgba(30, 19, 12, .7) 0%,rgba(154, 132, 120,.5) 100%), */